.btn {
    background-color: rgba(0, 0, 0, 0.23);
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
