@import "normalize";
@import "mq";
@include normalize();
$mq-breakpoints: (
  tablet: 740px,
  desktop: 980px,
  wide: 1300px
);
html {
  font-size: 18px;
  height: 100vh;

  @include mq($from: tablet) {
    font-size: 22px;
  }
}
body {
  font-family: "Roboto", sans-serif;
  height: 100%;
}
main {
  height: 100%;
  display: flex;
  justify-content: center;
}
@import "layouts/default";
@import "pages/index";
@import "pages/players";
@import "pages/matches";
