.pg_index {
  height: 100%;
  width: 100%;
  .content {
    width: 100%;
    height: 100%;
    color: white;
    background-color: rgba(0, 0, 0, 0.247);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .team-logo {
      height: 20rem;
      @include mq($from: tablet) {
        height: 30rem;
      }
    }
    .subtext {
      font-weight: normal;
      margin-top: -1rem;
      margin-bottom: 2rem;
    }
    .links {
      a {
        background-color: rgba(0, 0, 0, 0.23);
        color: white;
        text-decoration: none;
        padding: 0.5rem 1rem;
      }
      margin-bottom: 1rem;
    }
    .social {
      margin-top: 1rem;
      a {
        height: 3rem;
        width: 3rem;
        padding-right: 1rem;
        text-decoration: none;
        img {
          height: 3rem;
          width: 3rem;
        }
      }
    }
  }
}
