.pg-matches {
  .title {
    text-align: center;
    color: white;
  }
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .content {
    width: 100%;
    max-width: 1080px;
    padding: 1rem;
    color: white;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    .match {
      display: flex;
      flex-direction: column;
      margin: 1rem;
      box-shadow: 0 0 16px 8px #00182f82;
      .date {
        padding: 1rem;
        padding-left: 0.25rem;
      }
      .image {
        position: relative;
        img {
          height: 100%;
          width: 100%;
        }
        .emoji {
          position: absolute;
          left: 0;
          top: 0;
          padding: 0.5rem;
          background-color: #00000070;
          font-size: 1.5rem;
          font-weight: bold;
        }
      }
      .info {
        padding: 0.5rem;
        background-color: rgba(0, 0, 0, 0.425);
        display: flex;
        flex-direction: column;
        font-size: 1rem;
        text-align: center;
        .against {
          font-size: 1.5rem;
          margin-bottom: 0.5rem;
        }
        .type {
          margin-bottom: 0.25rem;
        }
      }
    }
  }
}
