.layout {
  &-default {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    .bg-image {
      background-position: center;
      background-size: cover;
      background-attachment: fixed;
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      filter: blur(0.75rem);
      z-index: -1;
    }
    .go-back-link {
      position: fixed;
      top: 1rem;
      left: 0rem;
      padding: 0.5rem;
      box-shadow: 0 0 12px 7px #0308276e;
      img {
        height: 1.5rem;
      }
    }
  }
}
