<!doctype html>

<html lang="en">

<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16x16.png">
    <link rel="manifest" href="/assets/favicons/site.webmanifest">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{title}} - {{site.name}}</title>
    <meta name="description" content="{{description}}">

    {{> social-meta this}}
    <link rel="stylesheet" href="/css/main.css?v={{buildTs}}">

</head>

<body class="layout-default">
    {{> header}}
    <div class="bg-image" style="background-image: url(/assets/images/{{bgImage}});">
    </div>
    <main>
        {{#if goBackTo}}
        <a class="go-back-link" href="{{goBackTo}}"><img src="/assets/images/icons/c_back.png" /></a>
        {{/if}}
        {{{main}}}
    </main>
    {{> footer}}
    <!-- <script src="/js/index.js?v={{buildTs}}"></script> -->
</body>

</html>